# Python
__pycache__/
*.py[cod]

# Environments
.venv/
venv/
.env

# ML models / generated artifacts
models/*.pkl

# Processed data
data/processed/

# MLflow
mlruns_old/
mlruns/
mlflow.db
mlflow_backup.db

# Jupyter
.ipynb_checkpoints/


