aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
altair==6.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio @ file:///C:/Users/task_177313442937352/croot/anyio_1773134524846/work
argon2-cffi @ file:///C:/Users/task_176606707648210/croot/argon2-cffi_1766067890970/work
argon2-cffi-bindings @ file:///C:/Users/dev-admin/buildout/croot/argon2-cffi-bindings_1761980525516/work
arrow==1.4.0
asttokens @ file:///C:/Users/task_177313490604433/croot/asttokens_1773135664379/work
async-lru @ file:///C:/Users/dev-admin/buildout/croot/async-lru_1761940529245/work
attrs @ file:///C:/Users/task_177495968090263/croot/attrs_1774959752963/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159343831/work
beautifulsoup4 @ file:///C:/Users/task_177029174485644/croot/beautifulsoup4-split_1770291849065/work
bleach @ file:///C:/Users/task_177754500711872/croot/bleach_1777545118926/work
blinker==1.9.0
blis==1.3.3
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961392766/work
cachetools==7.1.1
catalogue==2.0.10
certifi @ file:///C:/Users/task_177697111892010/croot/certifi_1776971228951/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832793693/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744988796/work
click==8.3.3
cloudpathlib==0.24.0
colorama @ file:///C:/Users/dev-admin/buildout/croot/colorama_1759952627215/work
comm @ file:///C:/Users/dev-admin/buildout/croot/comm_1763637613849/work
confection==1.3.3
contourpy==1.3.3
cycler==0.12.1
cymem==2.0.13
datasets==4.8.5
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421656989/work
decorator @ file:///C:/Users/dev-admin/buildout/croot/decorator_1759956412694/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.4.1
dnspython==2.8.0
executing @ file:///C:/Users/dev-admin/buildout/croot/executing_1761985455628/work
fastapi==0.136.1
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718678445/work
filelock==3.29.0
fonttools==4.62.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.50
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931280691/work
hf-xet==1.5.0
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///C:/Users/dev-admin/buildout/croot/httpcore_1761939678908/work
httptools==0.7.1
httpx @ file:///C:/Users/dev-admin/buildout/croot/httpx_1761941099328/work
huggingface_hub==1.14.0
idna @ file:///C:/Users/dev-admin/buildout/croot/idna_1762551230734/work
ipykernel @ file:///C:/Users/task_177261244345710/croot/ipykernel_1772612563750/work
ipython @ file:///C:/Users/task_177399609549671/croot/ipython_1773996192476/work
ipython_pygments_lexers @ file:///C:/Users/dev-admin/buildout/croot/ipython_pygments_lexers_1759956485878/work
isoduration==20.11.0
itsdangerous==2.2.0
jedi @ file:///C:/Users/dev-admin/buildout/croot/jedi_1759956512541/work
Jinja2 @ file:///C:/Users/dev-admin/buildout/croot/jinja2_1761938590194/work
joblib==1.5.3
json5 @ file:///C:/miniconda3/conda-bld/json5_1763718615838/work
jsonpointer==3.1.1
jsonschema @ file:///C:/Users/task_176795547555139/croot/jsonschema_1767955583625/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788613712/work
jupyter-events @ file:///C:/Users/task_177806710271725/croot/jupyter_events_1778067286064/work
jupyter-lsp @ file:///C:/Users/task_176977265702222/croot/jupyter-lsp_1769772765816/work
jupyter_client @ file:///C:/Users/task_176839910273266/croot/jupyter_client_1768399224994/work
jupyter_core @ file:///C:/Users/dev-admin/buildout/croot/jupyter_core_1765281302918/work
jupyter_server @ file:///C:/Users/task_176961262725938/croot/jupyter_server_1769613454143/work
jupyter_server_terminals @ file:///C:/Users/task_177028943868542/croot/jupyter_server_terminals_1770289598732/work
jupyterlab @ file:///C:/Users/task_177512615987574/croot/jupyterlab_1775126350421/work
jupyterlab_pygments @ file:///C:/Users/dev-admin/buildout/croot/jupyterlab_pygments_1759955874975/work
jupyterlab_server @ file:///C:/Users/task_176962933081313/croot/jupyterlab_server_1769629913304/work
kiwisolver==1.5.0
lark==1.3.1
markdown-it-py==4.2.0
MarkupSafe @ file:///C:/Users/dev-admin/buildout/croot/markupsafe_1759955189290/work
matplotlib==3.10.9
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779269415/work
mdurl==0.1.2
mistune @ file:///C:/Users/dev-admin/buildout/croot/mistune_1759955904576/work
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.19
murmurhash==1.0.15
narwhals==2.20.0
nbclient @ file:///C:/Users/task_177157717311710/croot/nbclient_1771577295307/work
nbconvert @ file:///C:/Users/task_177212127228850/croot/nbconvert-meta_1772121334358/work
nbformat @ file:///C:/Users/dev-admin/buildout/croot/nbformat_1759955312591/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx==3.6.1
nltk==3.9.4
notebook @ file:///C:/Users/task_177513867248953/croot/notebook_1775139393313/work
notebook_shim @ file:///C:/Users/task_176962940553730/croot/notebook-shim_1769629901712/work
numpy==2.4.4
packaging==26.0
pandas==3.0.2
pandocfilters @ file:///C:/Users/dev-admin/buildout/croot/pandocfilters_1759955985207/work
parso @ file:///C:/miniconda3/conda-bld/parso_1762781931209/work
pillow==12.2.0
platformdirs @ file:///C:/Users/task_177365241405064/croot/platformdirs_1773652995284/work
preshed==3.0.13
prometheus_client @ file:///C:/Users/task_177273262320601/croot/prometheus_client_1772733416381/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745044554/work
propcache==0.4.1
protobuf==7.34.1
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896536168/work
pure_eval @ file:///C:/Users/dev-admin/buildout/croot/pure_eval_1759956052992/work
pyarrow==24.0.0
pycparser @ file:///C:/Users/task_177495971781166/croot/pycparser_1774959830167/work
pydantic==2.13.4
pydantic_core==2.46.4
pydeck==0.9.2
Pygments @ file:///C:/Users/task_177512697712397/croot/pygments_1775127052270/work
pymongo==4.17.0
pyparsing==3.3.2
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753029698/work
python-dateutil @ file:///C:/Users/dev-admin/buildout/croot/python-dateutil_1759954839763/work
python-json-logger @ file:///C:/miniconda3/conda-bld/python-json-logger_1764590137051/work
python-multipart==0.0.27
pywin32 @ file:///C:/Users/dev-admin/buildout/croot/pywin32_1759953972432/work
pywinpty @ file:///C:/Users/task_177521346807667/croot/pywinpty_1775213566011/work/pywinpty-src
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465514484/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375620799/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536906066/work
regex==2026.4.4
requests @ file:///C:/Users/task_177506611932238/croot/requests_1775066190807/work
rfc3339_validator @ file:///C:/miniconda3/conda-bld/rfc3339-validator_1764775658359/work
rfc3986_validator @ file:///C:/Users/dev-admin/buildout/croot/rfc3986-validator_1762547083442/work
rfc3987-syntax==1.1.0
rich==15.0.0
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366636411/work
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
Send2Trash @ file:///C:/Users/task_176817069691338/croot/send2trash_1768170819395/work
setuptools==81.0.0
shellingham==1.5.4
six @ file:///C:/Users/dev-admin/buildout/croot/six_1759954493303/work
smart_open==7.6.0
smmap==5.0.3
soupsieve @ file:///C:/Users/dev-admin/buildout/croot/soupsieve_1761938454850/work
spacy==3.8.13
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.3
stack_data @ file:///C:/Users/dev-admin/buildout/croot/stack_data_1759957300617/work
starlette==1.0.0
streamlit==1.57.0
sympy==1.14.0
tenacity==9.1.4
terminado @ file:///C:/Users/task_176959127836768/croot/terminado_1769591780553/work
thinc==8.3.13
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.22.2
toml==0.10.2
torch==2.11.0
tornado @ file:///C:/Users/task_177430349855574/croot/tornado_1774303659293/work
tqdm==4.67.3
traitlets @ file:///C:/Users/dev-admin/buildout/croot/traitlets_1759954525269/work
transformers==5.8.0
typer==0.25.1
typing-inspection==0.4.2
typing_extensions @ file:///C:/Users/dev-admin/buildout/croot/typing_extensions_1759955056205/work
tzdata==2026.2
uri-template==1.3.0
urllib3 @ file:///C:/Users/task_176781036399437/croot/urllib3_1767810487549/work
uvicorn==0.46.0
wasabi==1.1.3
watchdog==6.0.0
wcwidth @ file:///C:/Users/task_176777903181948/croot/wcwidth_1767779236270/work
weasel==1.0.0
webcolors==25.10.0
webencodings @ file:///C:/Users/dev-admin/buildout/croot/webencodings_1761938483125/work
websocket-client @ file:///C:/Users/dev-admin/buildout/croot/websocket-client_1759957369455/work
websockets==16.0
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746275387/work
wrapt==2.1.2
xxhash==3.7.0
yarl==1.23.0
