fastapi==0.136.1
uvicorn[standard]==0.46.0

pandas==3.0.2
numpy==2.4.4
scikit-learn==1.8.0
joblib==1.5.3

nltk==3.9.4

mlflow==3.16.0

pymongo==3.12.0
tldextract
newsapi-python

requests
beautifulsoup4
lxml==6.1.0
newspaper3k
lxml_html_clean

python-dotenv==1.2.2

dnspython==1.16.0